{% extends 'base.html.twig' %}

{% block title %}Modifier la série - {{ series.title }}{% endblock %}

{% block body %}
    <div class="container mt-3">
        <h1 class="my-4">Modifier la série : {{ series.title }}</h1>

        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

        <div class="form-group mb-3">
            {{ form_label(form.title, 'Titre de la série', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.title) }}
        </div>

        <div class="form-group mb-3">
            {{ form_label(form.description, 'Description', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.description) }}
        </div>

        <div class="form-group mb-3">
            {{ form_label(form.publish_date, 'Date de publication', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.publish_date, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.publish_date) }}
        </div>

        <div class="form-group mb-3">
            {{ form_label(form.critical_rate, 'Note critique', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.critical_rate, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.critical_rate) }}
        </div>

        <div class="form-group mb-3">
            {{ form_label(form.seen, 'Vu', {'label_attr': {'class': 'form-check-label'}}) }}
            <div class="form-check">
                {{ form_widget(form.seen, {'attr': {'class': 'form-check-input'}}) }}
                {{ form_errors(form.seen) }}
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>

        {{ form_end(form) }}

        <a href="{{ path('app_show', {id: series.id}) }}" class="btn btn-secondary mb-3">Retour à la série</a>
    </div>
{% endblock %}
