{% extends 'base.html.twig' %}

{% block title %}Créer un nouvel épisode{% endblock %}

{% block body %}
    <div class="container mt-3">
        <h1 class="my-4">Créer un nouvel épisode</h1>

        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

        <div class="form-group mb-3">
            {{ form_label(form.title, 'Titre de l\'épisode', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.title) }}
        </div>

        <div class="form-group mb-3">
            {{ form_label(form.description, 'Description de l\'épisode', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.description) }}
        </div>

        <div class="form-group mb-3">
            {{ form_label(form.publishDate, 'Date de publication', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.publishDate, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.publishDate) }}
        </div>

        <div class="form-group mb-3">
            {{ form_label(form.number, 'Numéro de l\'épisode', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.number, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.number) }}
        </div>

        <div class="form-group mb-3">
            {{ form_label(form.seen, 'Avez-vous vu cet épisode ?', {'label_attr': {'class': 'form-check-label'}}) }}
            <div class="form-check">
                {{ form_widget(form.seen, {'attr': {'class': 'form-check-input'}}) }}
                {{ form_errors(form.seen) }}
            </div>
        </div>

        <div class="form-group mb-3">
            {{ form_label(form.season, 'Saison associée', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.season, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.season) }}
        </div>

        <button type="submit" class="btn btn-primary">Créer l'épisode</button>

        {{ form_end(form) }}

        <a href="{{ path('app_episodes') }}" class="btn btn-secondary mt-3">Retour à la liste des épisodes</a>
    </div>
{% endblock %}
