{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% block body %}

    {% include 'admin/navbar/navbar.html.twig' %}

    <div class="formContainer container">
        {{ form_start(form) }}
        <h2>Edit Episode :</h2>

        <div class="form-group">
            <label for="title">Title :</label>
            {{ form_widget(form.title, {'attr': {'class': 'input-field'}}) }}
        </div>

        <div class="form-group">
            <label for="description">Description :</label>
            {{ form_widget(form.description, {'attr': {'class': 'input-field large-input'}}) }}
        </div>

        <div class="form-group">
            <label for="publishDate">Publish Date :</label>
            {{ form_widget(form.publishDate, {'attr': {'class': 'input-field'}}) }}
        </div>

        <div class="form-group">
            <label for="number">Episode Number :</label>
            {{ form_widget(form.number, {'attr': {'class': 'input-field'}}) }}
        </div>

        <div class="form-group">
            <label for="season">Season:</label>
            {{ form_widget(form.season, {'attr': {'class': 'input-field'}}) }}
        </div>

        <div class="form-group image-section mt-5">
            <label for="vertical_image">Vertical Image :</label>
            <div class="image-upload">
                <div class="image-box"></div>
                <a class="btn btn-light">Add Image</a>
            </div>
        </div>

        <div class="form-group image-section">
            <label for="horizontal_image">Horizontal Images :</label>
            <div class="image-upload">
                <div class="image-box horizontal"></div>
                <a class="btn btn-light">Add Image</a>
            </div>
        </div>

        <button type="submit" class="submit-btn">Confirm</button>
        {{ form_end(form) }}
    </div>
{% endblock %}