{% extends 'base.html.twig' %}

{% block title %}Détails de l'épisode - {{ episode.title }}{% endblock %}

{% block body %}
    <div class="container mt-3">
        <h1 class="my-4">Détails de l'épisode : {{ episode.title }}</h1>

        <a href="{{ path('app_season_show', {id: episode.season.id}) }}" class="btn btn-secondary mb-3">Retour à la saison</a>

        <form method="post" action="{{ path('app_episode_delete', {id: episode.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet épisode ?');" class="my-3">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ episode.id) }}">
            <button class="btn btn-danger">Supprimer</button>
            <a href="{{ path('app_episode_edit', {id: episode.id}) }}" class="btn btn-warning my-3">Éditer</a>
        </form>

        <table class="table table-bordered table-striped">
            <tbody>
            <tr>
                <th scope="row">ID</th>
                <td>{{ episode.id }}</td>
            </tr>
            <tr>
                <th scope="row">Titre</th>
                <td>{{ episode.title }}</td>
            </tr>
            <tr>
                <th scope="row">Description</th>
                <td>{{ episode.description ? episode.description : 'Aucune description' }}</td>
            </tr>
            <tr>
                <th scope="row">Date de publication</th>
                <td>{{ episode.publishDate ? episode.publishDate|date('Y-m-d') : 'N/A' }}</td>
            </tr>
            <tr>
                <th scope="row">Numéro de l'épisode</th>
                <td>{{ episode.number }}</td>
            </tr>
            <tr>
                <th scope="row">Vu</th>
                <td>{{ episode.seen ? 'Oui' : 'Non' }}</td>
            </tr>
            <tr>
                <th scope="row">Saison associée</th>
                <td>Saison {{ episode.season.number }}: {{ episode.season.title }}</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
