{% extends 'base.html.twig' %}

{% block title %}Hello FilmController!{% endblock %}

{% block body %}
<div class="adminBackground min-vh-100">
<div class="container">


    <a class="btn btn-primary my-2" href="{{ path('app_search') }}">rechercher film</a>

    <div class="d-flex justify-content-around m-4">
        <h3>All films: XXXX</h3>
        <h3>Sort by : Date</h3>
        <a class="btn btn-warning" href="{{ path("app_film_create") }}">create</a>
    </div>

    <table class="table w-100 my-4">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Titre</th>
            <th scope="col">Categorie</th>
            <th scope="col">Description</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for film in films %}
        <tr>
            <th scope="row">{{ film.id }}</th>
            <td>{{ film.title }}</td>
            <td>film.category</td>
            <td>{{ film.description }}</td>
            <td>
                <div>
                    <a class="btn" href="{{ path("app_film_show",{id:film.id}) }}"><i class="bi bi-eye"></i></a>
                    <a class="btn" href="{{ path("app_film_delete",{id:film.id}) }}"><i class="bi bi-trash"></i></a>
                    <a class="btn" href="{{ path("app_film_edit", {id:film.id}) }}"><i class="bi bi-pencil"></i></a>
                </div>
            </td>
        </tr>
        {% endfor %}

        </tbody>
    </table>


</div>
</div>
{% endblock %}
