{% extends 'base.html.twig' %}

{% block title %}Liste des films{% endblock %}

{% block body %}
    <div class="container mt-3">
        <h1>Liste des films</h1>

        <a class="btn btn-primary my-2" href="{{ path('app_search') }}">Rechercher film</a>
        <a class="btn btn-success" href="{{ path('app_film_create') }}">Créer un film</a>

        {% if films is not empty %}
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Titre</th>
                    <th>Description</th>
                    <th>Date de publication</th>
                    <th>Durée</th>
                    <th>Note critique</th>
                    <th>Vu</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for film in films %}
                    <tr>
                        <td>{{ film.id }}</td>
                        <td>{{ film.title }}</td>
                        <td>{{ film.description }}</td>
                        <td>{{ film.publishDate ? film.publishDate|date('Y-m-d') : 'N/A' }}</td>
                        <td>{{ film.runtime }}</td>
                        <td>{{ film.criticalRate is not null ? film.criticalRate : 'Non noté' }}</td>
                        <td>{{ film.seen ? 'Oui' : 'Non' }}</td>
                        <td>
                            <a href="{{ path('app_film_show', {id: film.id}) }}" class="btn btn-info btn-sm">Afficher</a>
                            <a href="{{ path('app_film_edit', {id: film.id}) }}" class="btn btn-warning btn-sm">Modifier</a>
                            <a href="{{ path('app_film_delete', {id: film.id}) }}" class="btn btn-danger btn-sm" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce film ?');">Supprimer</a>

                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <a href="{{ path('watchlist_add_film', {id: film.id}) }}" class="btn btn-success btn-sm">WatchList</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Aucun film n'a encore été créé.</p>
        {% endif %}
    </div>
{% endblock %}
