{% extends 'base.html.twig' %}

{% block title %}Créer une nouvelle série{% endblock %}

{% block body %}

    <div class="container mt-3">
        <h1 class="my-4">Créer une nouvelle série</h1>

        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

        <div class="form-group mb-3">
            {{ form_label(form.title, 'Titre de la série', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.title) }}
        </div>

        <div class="form-group mb-3">
            {{ form_label(form.description, 'Description de la série', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.description) }}
        </div>

        <div class="form-group mb-3">
            {{ form_label(form.publish_date, 'Date de publication', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.publish_date, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.publish_date) }}
        </div>

        <div class="form-group mb-3">
            {{ form_label(form.critical_rate, 'Note critique', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.critical_rate, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.critical_rate) }}
        </div>


        <button type="submit" class="btn btn-primary">Créer</button>

        {{ form_end(form) }}
    </div>
{% endblock %}
