{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% block title %}Create a New Season{% endblock %}

{% block body %}

    {% include 'admin/navbar/navbar.html.twig' %}

    <div class="formContainer container">
        {{ form_start(form) }}
        <h2>Create a New Season:</h2>

        <div class="form-group">
            <label for="title">Season Title:</label>
            {{ form_widget(form.title, {'attr': {'class': 'input-field'}}) }}
        </div>

        <div class="form-group">
            <label for="description">Description:</label>
            {{ form_widget(form.description, {'attr': {'class': 'input-field large-input'}}) }}
        </div>

        <div class="form-group">
            <label for="publish_date">Publish Date:</label>
            {{ form_widget(form.publish_date, {'attr': {'class': 'input-field'}}) }}
        </div>

        <div class="form-group">
            <label for="number">Season Number:</label>
            {{ form_widget(form.number, {'attr': {'class': 'input-field'}}) }}
        </div>

        <div class="form-group">
            <label for="series">Associated Series:</label>
            {{ form_widget(form.series, {'attr': {'class': 'input-field'}}) }}
        </div>

        <button type="submit" class="submit-btn">Confirm</button>
        {{ form_end(form) }}
    </div>

{% endblock %}
