{% extends 'base.html.twig' %}
{% set route = path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) %}


{% block title %}Cine Rilettes {% endblock %}

{% block body %}
    {% set seen = false %}

    {% include '/client/component/navbar.html.twig' %}

    <div class="homeBlurBackground">

        {% set imageNames = ['antman.png','batman.png','blackwidow.png'] %}
        {# title for search for film box office and for series wich dont have boxoffice #}
        <h3>{{ search is defined and search ? "FILM RESULT" :  "BOX OFFICE" }}</h3>


        {# search #}
        {% if search is defined and search %}
            {% if films is empty %}
                <p>No result for this search</p>
            {% endif %}
            <div class="searchFilm">
                {% for film in films %}
                    <div>
                        <a href="{{ path('app_film_show',{'id':film.id}) }}">
                            {% if film.horizontalImages[0] %}
                                <img src="{{ vich_uploader_asset(film.horizontalImages[0]) }}" alt="">
                            {% else %}
                                {{ film.title }}
                            {% endif %}

                        </a>
                    </div>

                {% endfor %}
            </div>
        {% else %}
            {% if films is defined %}
            <div class="filmList">
                {% for film in films | slice(0,3) %}
                    {% if film.horizontalImages[0] %}
                        <img src="{{ vich_uploader_asset(film.horizontalImages[0]) }}" alt="">
                    {% else %}
                        {{ film.title }}
                    {% endif %}
                {% endfor %}
            </div>
                {% endif %}

        {% endif %}
    </div>
    {% if search is defined and search %}

        <div class="homeFilms">
            <h3>SERIES RESULT :</h3>
            <div>

                {% for oneSeries in series %}
                    <div>
                        <a href="{{ path('app_series_show',{'id':oneSeries.id}) }}">
                            {% if oneSeries.horizontalImages[0] %}
                                <img src="{{ vich_uploader_asset(oneSeries.horizontalImages[0]) }}" alt="">
                            {% else %}
                                {{ oneSeries.title }}
                            {% endif %}


                        </a>
                    </div>
                {% endfor %}

            </div>
        </div>
    {% endif %}

    {% if search is not defined %}
        {% if type is defined and type =='film' %}
            {% if filmsForYou is defined %}
                <div class="homeFilms">
                    <h3>FOR YOU</h3>
                    {% set imageNames = ['beautyandbeast.png','hauntedmansion.png','herealone.png'] %}

                    <div>

                        {% for film in filmsForYou|slice(0,6) %}
                            <div>
                                <a href="{{ path('app_film_show',{'id':film.id}) }}">
                                    {% if film.horizontalImages[0] %}
                                        <img src="{{ vich_uploader_asset(film.horizontalImages[0]) }}" alt="">
                                    {% else %}
                                        {{ film.title }}
                                    {% endif %}

                                </a>
                            </div>
                        {% endfor %}
                        {# {% for name in imageNames %}
                        <a href=""><img class="filmSeriesImage" src="{{ asset('/img/'~ name) }}" alt=""></a>
                    {% endfor %} #}
                    </div>
                </div>
            {% endif %}


            {% if bestRated is defined %}
                <hr>

                <div class="homeFilms">
                    <div class="titlerow">
                        <h3>BEST RATED</h3>
                      {#  <h3>Tous les films <img class="svgFletcher" src="{{ asset('svg/fletcher.svg') }}" alt=""></h3>
                   #} </div>

                    {% set imageNames = ['joker.png','antman.png','blackwidow.png'] %}

                    <div class="searchFilm">
                        {% for film in bestRated %}
                            <div>
                                <a href="{{ path('app_film_show',{'id':film.id}) }}">
                                    {% if film.horizontalImages[0] %}
                                        <img src="{{ vich_uploader_asset(film.horizontalImages[0]) }}" alt="">
                                    {% else %}
                                        {{ film.title }}
                                    {% endif %}

                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        {% endif %}
        {% if type is defined and type =='series' %}
            {% if bestRated is defined %}
                <div class="homeFilms">
                    <h3>BEST SERIES RATED</h3>

                    <div>

                        {% for series in bestRated|slice(0,6) %}
                            <div>
                                <a href="{{ path('app_series_show',{'id':series.id}) }}">
                                    {% if series.horizontalImages[0] %}
                                        <img src="{{ vich_uploader_asset(series.horizontalImages[0]) }}" alt="">
                                    {% else %}
                                        {{ series.title }}
                                    {% endif %}
                                    </a>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            {% endif %}
            {% if bestRated is defined %}
                <hr>
                <div class="homeFilms">
                    <h3>SERIES FOR YOU</h3>
                    {% set imageNames = ['beautyandbeast.png','hauntedmansion.png','herealone.png'] %}

                    <div>

                        {% for series in SeriesForYou %}
                            <div>
                                <a href="{{ path('app_series_show',{'id':series.id}) }}">

                                    {% if series.horizontalImages[0] %}
                                        <img src="{{ vich_uploader_asset(series.horizontalImages[0]) }}" alt="">
                                    {% else %}
                                        {{ series.title }}
                                    {% endif %}
                                </a>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            {% endif %}
        {% endif %}
    {% endif %}



    {# BACKGROUND #}
    <h1 class="rillettesTitle">
        RILLETTES</h1>

    <div class="homeLightRond">
    </div>
{% endblock %}
